<header>
    <h1>Elija el color</h1>
    
    <nav>
        <ul>
            <li><a class="home" href="/">HOME</a></li>
            <% if (locals.user){ %>
                <li><a class="home" href="/user">Usuario</a></li>
            <%}%>
            
        </ul>
    </nav>
    
</header>